<div id="page-wrapper">
  <div id="page-middle-wrapper">
    <app-map></app-map>
  </div>

  <div id="page-right-wrapper">
    <div id="page-left-weather-wrapper">
      <h2>What is Växjö weather forecast?</h2>
      <p>Here is the local weather forecast for the next couple of days.</p>
      <hr />
      <app-weather></app-weather>
    </div>
    <app-career></app-career>
  </div>

  <div id="page-right-wrapper" style="margin-right: 35%;">
    <div id="page-left-disqus-wrapper">
      <h2>Write a tweet?</h2>
      <p>Here you can type your post</p>
      <hr />
      <app-twitter></app-twitter>
    </div>
  </div>

  <div id="page-right-wrapper" style="margin-right: 35%; margin-top: 25%;">
    <div id="page-left-disqus-wrapper">
      <h2>Parking</h2>
      <hr />
      <app-parking></app-parking>
    </div>
  </div>

  <div id="page-right-wrapper" style="margin-right: 35%; margin-top: 45%;">
    <div id="page-left-disqus-wrapper">
      <h2>Movie Search</h2>
      <hr />
      <app-moovie></app-moovie>
    </div>
  </div>

  <div id="page-left-wrapper">
    <div id="page-left-disqus-wrapper">
      <h2>Do you have something you want to discuss?</h2>
      <p>This discussion thread is open for discussion.</p>
      <hr />
      <div id="disqus_thread"></div>
    </div>


  </div>
</div>
